.dropdown-menu{
    box-shadow: 2px 2px gray;
    text-align: center;
}

.ab{
    margin-right: 20px;
}

.navbar-brand{
    margin-left: 25px;
    font-size: 22px;
}

.abb{
    margin-right: 15px;
}

.ada{
    padding-top: 0.5%;
}

.ada{
    margin-top: 15px;
}