.dropdown-menu{
    box-shadow: 2px 2px gray;
    text-align: center;
}

.ab{
    padding-right: 50px;
}

.navbar-brand{
    padding-left: 25px;
}

.abb{
    padding-right: 15px;
}

.carousel-item{
  
}

.ada{
    padding-top: 30px;
}

.ada img{
    height: 135px;
}
