.dropdown-menu{
    box-shadow: 2px 2px gray;
    text-align: center;
}

.ab{
    padding-right: 50px;
}

.navbar-brand{
    padding-left: 50px;
}

.abb{
    padding-right: 15px;
}



.carousel-item{

}