.dropdown-menu{
    box-shadow: 2px 2px gray;
    text-align: center;
}

.ab{
    padding-right: 25px;
}

.navbar-brand{
    padding-left: 15px;
}

.abb{
    padding-right: 15px;
}

.carousel-item{
    
}

.ada{
    padding-top: 0.5%;
}

 .card{
     border: 1px solid grey;
     box-shadow: 2px 2px lightgray;
     margin: 0px;
     
 }


.ada{
    margin-top: 15px;
}

.card img{
    height: 100px;
}

.embed-responsive{
    height: 100px;;
}
    

.card-text{
    font-size: 60%;
}

.btn-info{
    margin-left: 0px;
    margin-right: 0px;
}

